apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-custom-config
  namespace: k8s-portfolio
data:
  nginx.conf: |
    user  nginx;
    worker_processes  auto;

    events {
      worker_connections 1024;
    }

    http {
      include       /etc/nginx/mime.types;
      default_type  application/octet-stream;
      sendfile      on;

      server {
        listen 80;

        # Dedicated health endpoint
        location /healthz {
          add_header Content-Type text/plain;
          return 200 "ok\n";
        }

        # Serve your app/site
        root /usr/share/nginx/html;
        index index.html index.htm;

        location / {
          try_files $uri $uri/ =404;
        }
      }
    }
